nav{
    background-color: #1295e1;
}

.nav-item{
    font-size: 16px;
}

.navbar-img{
    height: 100px;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.jumbotron{
    background-color: rgb(255, 255, 255);
}

i{
    padding: 0px 10px;
}

.fa-star{
    padding: 0px 2px !important;
}


.pic{
    padding-top: 7px;
    padding-left: 10px;
}

a{
    color: #073047;
}

.row{
    margin: 20px 0px;
    padding: 20px 30px;
    box-sizing: border-box;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.column75{
    float: left;
    width: 85%;
    margin: 20px 20px;
    padding: 15px;
}

.column-rest{
    float: left;
    width: auto;
    margin: 20px 20px;
    padding: 15px;
}

.column50{
    float:left;
    width: 50%;
}

footer{
    background-color: #1295e1;
    margin-top: 20px;
    margin-bottom: 0px;
    clear: both;
    overflow: hidden;
}

.car{
    background-color: #1295e1;
    padding: 20px 20px;
}

.car-image{
    margin: auto;
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.carcap{
    text-shadow: 3px 3px black;
}

.car-exp{
    padding: 10px 20px;
    display: flex;
}

.container-lg{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0px;
}

.opl-pic{
    width:100%;
    border: solid 1px darkblue;
}

.text-right{
    padding-left: 20px;
}

.text-left{
    padding-right: 20px;
}

.opl{
    padding: 30px;
    background-color: #1295e1;
}

ul{
    overflow: auto;
    list-style-type: none;
    text-align: center;
}

li{
    font-size: 20px;
}

.image{
    width: 100%;
}

@media screen and (max-width: 600px) {
    .column50 {
        width: 100%;
    }

    .image{
        width: 60%;
    }
}

